h1 {
    color: red;
}

body {
    background-color: aqua;
}

.email-button {
    background-color: rgb(249, 170, 170);
    border-radius: 5px;
}

#code-picture {
    border-radius: 15%;
}

p {
    font-size: 20px;
}